<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq17.snack.mapper.IGoodsTypeMapper">
  <select id="finds" resultType="com.xq17.snack.bean.GoodsType">
    select tno, tname, status from goodstype where status !=0
  </select>
  
  <select id="findAll" resultType="GoodsType">
  	select tno, tname, status from goodstype
  </select>
</mapper>